ion-fab-button{

    height: 55px;

    width: 55px;

    margin-bottom: 10px;
}

.hide{

    margin-right: 100px;
    

}

.menu{

    margin-top: 50px;
    height: 30px;
    width: 30px;
    --background: none;
}

.menudesp{
    margin-top: 40px;
    height: 45px;
    width: 45px;
    --background: white;

}

ion-fab-list{
    margin-right: 40px;


}



ion-icon{

    height: 25px;
    width: 25px;
}