<ion-content>

 
  <div id="map" style="width:100%; height:100%;"></div>
  <ion-fab vertical="top" horizontal="end" slot="fixed" >
      
  <ion-fab-button class="menu">
      <ion-icon name="md-settings" color="primary"></ion-icon>
  </ion-fab-button>
  <ion-fab-list  side="start">
    <ion-fab-button class="menudesp"><ion-icon name="ios-car" (click)="chargeAllMarkAccident(ocultaA)" [ngStyle]="{'color':ocultaA  ? 'DARKGRAY' : '#428BCA' }"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list class="hide" side="start">
    <ion-fab-button class="menudesp" ><ion-icon name="ios-umbrella" (click)="chargeAllMarkMeteorology(ocultaM)" [ngStyle]="{'color':ocultaM  ? 'DARKGRAY' : '#428BCA' }"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button  color="light">
      <ion-icon name="md-locate" color="primary" (click)="locateme()"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="add" (click)="addMark()"></ion-icon>
      
    </ion-fab-button>
    
    
  </ion-fab>
</ion-content>
