<ion-header>
  <ion-toolbar>
    <ion-title>
      Alerts
    </ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="category" (ionChange)="slides.slideTo(category)" style="background-color:white"
  color=" primary">
  <ion-segment-button layout="icon-start" value="0" style="--padding-end:0px;--padding-start:0px">
    <ion-icon name="ios-car" style="margin-right:1px;zoom:1"></ion-icon>
    <ion-label></ion-label>
  </ion-segment-button>
  <ion-segment-button layout="icon-start" value="1" style="--padding-end:0px;--padding-start:0px">
    <ion-icon name="ios-umbrella" style="margin-right:1px;zoom:1"></ion-icon>
    <ion-label></ion-label>
  </ion-segment-button>
</ion-segment>
<div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]=" 
  {'width.%': (100/this.tabs.length)}" style="margin-top:2px"></div>

</ion-header>

<ion-content>

    <ion-slides #slides (ionSlideTransitionStart)="updateIndicatorPosition();updateCat(slides.getActiveIndex())"
    (ionSlideWillChange)="updateIndicatorPosition()" (ionSlideDidChange)="updateIndicatorPosition()" #SwipedTabsSlider
    (ionSlideDrag)="animateIndicator($event)">
    <ion-slide>
      <ion-content class="fixed-scroll">
        <ion-refresher (ionRefresh)="this.updateAccident($event,true)">
          <ion-refresher-content pullingIcon="arrow-dropdown" 
            refreshingSpinner="null" refreshingText="">
            
          </ion-refresher-content>
        </ion-refresher>
        
        <ion-item *ngFor="let item of listadoAccidentes;let i = index" >
          <ion-card>
          <ion-label maxlength="30" > 
            <ion-icon name="ios-car" slot="start"  ></ion-icon>
            {{item.descripcion}}
          </ion-label>
          <ion-label >
            <h5>Latitud: {{item.latitud}}, Longitud: {{item.longitud}}</h5>
          </ion-label>
        </ion-card>
          
        </ion-item>
      
        <ion-infinite-scroll #infiniteScroll threshold="10px" (ionInfinite)="updateAccident($event,false)">
          <ion-infinite-scroll-content loadingSpinner="null" loadingText="Cargando">
            
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content class="fixed-scroll">

          <ion-refresher (ionRefresh)="this.updateMeteorologia($event,true)">
              <ion-refresher-content pullingIcon="arrow-dropdown" 
                refreshingSpinner="null" refreshingText="">
                
              </ion-refresher-content>
            </ion-refresher>
            <ion-item *ngFor="let item of listadoMeteorologia;let i = index" >
             
              <ion-card>
                <ion-label> 
                  <ion-icon name="ios-umbrella" slot="start"></ion-icon>
                  {{item.descripcion}}
                </ion-label>
                <ion-label >
                  <h5>Latitud: {{item.latitud}}, Longitud: {{item.longitud}}</h5>
                </ion-label>
              </ion-card>
              
            </ion-item>
            <ion-infinite-scroll #infiniteScroll threshold="10px" (ionInfinite)="updateMeteorologia($event,false)">
              <ion-infinite-scroll-content loadingSpinner="null" loadingText="Cargando">
                
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        
        
        
      </ion-content>
    </ion-slide>
  </ion-slides>
    
</ion-content>
