/* la "rayita" que indica la navegación entre slides */
.SwipedTabs-indicatorSegment{
  -webkit-transition: 0s all;
  -moz-transition:  0s all;
  -o-transition:  0s all;
  transition:  0s all;
  transform-origin: top 0 left 0;
  height: 2px;
  position: relative;
  top: -2px;
  background-color: var(--ion-color-light) !important;
}

/* para que el slide ocupe toda la pantalla */
ion-slide.swiper-slide {
  display:block;
}
/*Para que el slide pueda tener scroll en una lista*/
ion-slides{
  height: initial;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
display: none;
}

ion-img{
  display: initial;
}

.item .sc-ion-label-md-h {

  overflow: visible;
 
}
.sc-ion-label-md-s h2{
  overflow: hidden;
  text-overflow: ellipsis;
}



ion-segment-button{
 
  --background: var(--ion-color-primary);
  
}

ion-icon{
  
  float: left;
  height: 30px;
  width: 30px;
  margin-right: 3%;
  
}

.iconbadge{
  
  float: auto;
  height: 15px;
  width: 15px;
  margin-right: 10px;
  
}

.iconlist{

  height: 35px;
  width: 35px;

}


.list-md{
 
  background: var( --ion-color-light-shade)!important;
}



ion-title{
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  color: var(--ion-color-light-contrast);
}


.item .item-native{

  background-color: transparent !important;
}

.help{
  float: right;
  color: var(--ion-color-light-contrast);
}

.swiper-slide img {
  width: max-content;
  max-width: 100%;
  height: max-content;
  max-height: 100%;
}


