<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>
      ZeroD
    </ion-title>
    <ion-icon class="help" name="help-circle-outline" (click)="presentModal()"></ion-icon>
  </ion-toolbar>
  <ion-segment [(ngModel)]="category" (ionChange)="slides.slideTo(category)" style="background-color:var(--ion-color-primary)"
  color="light">
  <ion-segment-button layout="icon-start" value="0" style="--padding-end:0px;--padding-start:0px">
    <ion-icon name="ios-car" style="margin-right:1px;zoom:1"></ion-icon>

  </ion-segment-button>
  <ion-segment-button layout="icon-start" value="1" style="--padding-end:0px;--padding-start:0px">
    <ion-icon name="ios-umbrella" style="margin-right:1px;zoom:1"></ion-icon>

  </ion-segment-button>
</ion-segment>
<div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]=" 
  {'width.%': (100/this.tabs.length)}" ></div>

</ion-header>

<ion-content >

    <ion-slides #slides (ionSlideTransitionStart)="updateIndicatorPosition();updateCat(slides.getActiveIndex())"
    (ionSlideWillChange)="updateIndicatorPosition()" (ionSlideDidChange)="updateIndicatorPosition()" #SwipedTabsSlider
    (ionSlideDrag)="animateIndicator($event)">
    <ion-slide>

      <ion-img *ngIf="listAvacia" src="assets/sinavisos.png"></ion-img>
      <div *ngIf="!listAvacia">
            <ion-refresher (ionRefresh)="this.updateAccident($event,true)">
              <ion-refresher-content pullingIcon="arrow-dropdown" 
                refreshingSpinner="null" refreshingText="{{ 'refresher' | translate }}">
                
              </ion-refresher-content>
            </ion-refresher>

            <ion-list > 
              <ion-item style="--background: transparent !important;" *ngFor="let item of listadoAccidentes;let i = index" (click)="showInfo(item.descripcion, item.alert, item.hora, item.latitud, item.longitud)">
                
                  <ion-icon class="iconlist" name="{{item.icon}}" slot="start" color="primary"></ion-icon>
                  
                    <h5>{{item.descripcion}}</h5>
                    <p size="6">Lat: {{item.latitud}}, Long: {{item.longitud}}</p>
         
              </ion-item>
            </ion-list>
           

            <ion-infinite-scroll #infiniteScroll threshold="10px" (ionInfinite)="updateAccident($event,false)">
              <ion-infinite-scroll-content loadingSpinner="null" loadingText="{{ 'refresher' | translate }}">
                
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </div>
            
      
    </ion-slide>
    <ion-slide>
        <ion-img *ngIf="listMvacia" src="assets/sinavisossol.png"></ion-img>

         <div *ngIf="!listMvacia">
        <ion-refresher (ionRefresh)="this.updateMeteorology($event,true)">
          <ion-refresher-content pullingIcon="arrow-dropdown" 
            refreshingSpinner="null" refreshingText="{{ 'refresher' | translate }}">
            
          </ion-refresher-content>
        </ion-refresher>
        

        <ion-list *ngIf="!listMvacia">
          <ion-item style="--background: transparent !important;" *ngFor="let item of listadoMeteorologia;let i = index" (click)="showInfo(item.descripcion, item.alert, item.hora, item.latitud, item.longitud)">
            
              <ion-icon  class="iconlist" name="{{item.icon}}" slot="start" color="primary"></ion-icon>
              
                <h5>{{item.descripcion}}</h5>
                <p size="6">Lat: {{item.latitud}}, Long: {{item.longitud}}</p>
     
          </ion-item>
        </ion-list>

        <ion-infinite-scroll #infiniteScroll threshold="10px" (ionInfinite)="updateMeteorology($event,false)">
          <ion-infinite-scroll-content loadingSpinner="null" loadingText="{{ 'refresher' | translate }}">
            
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
     
      </div>  
    </ion-slide>
  </ion-slides>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
      
    <ion-fab-button (click)="anadeMarca()">
      <ion-icon name="add" style="color: var(--ion-color-success-contrast)" ></ion-icon>
      
    </ion-fab-button>
    
    
  </ion-fab>
    
</ion-content>
