ion-avatar{

    margin: auto;
    height: 200px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;

}

ion-toolbar{
    --background:linear-gradient(to bottom,  var(--ion-color-primary) 0%,var(--ion-color-primary) 65%,var(--ion-color-light-shade) 65%, var(--ion-color-light-shade) 100%);
}

ion-item{
    --background: none;
}

ion-badge{
    margin-right:20px;
    --background:var(--ion-color-primary);
    --color: #ffffff;
}

ion-range{
    --bar-background-active:var(--ion-color-primary);
}




