ion-avatar{

    margin: auto;
    height: 200px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;

}

ion-item{
    --background: none;
}

ion-header{
    border-top:none
}

ion-toolbar{
    border-top:none
}

ion-label{
    
    font-size:15pt;
}

