<ion-header *ngIf="usuario" no-border>
  <!--Todo esto es necesario para el cambio de tema de la toolbar-->
  <ion-toolbar *ngIf="profileTema" style="--background:linear-gradient(to bottom,  #71A1F0 0%,#71A1F0 65%,#fafafa 65%,#fafafa 100%);">
    <ion-avatar  >
        <img [src]="imgV " style="height:200px; width:200px" style="border:5px solid #fafafa">
    </ion-avatar>
    <div class="ion-text-center" style="margin-top:15px;">
        <ion-label style=" font-size:20pt; color:var( --ion-color-dark);">
            {{ this.perfil.user}}</ion-label>
      </div>
  </ion-toolbar>

  <ion-toolbar *ngIf="!profileTema"  style="--background:linear-gradient(to bottom,  #354B70 0%,#354B70 65%,#576070 65%,#576070 100%);">
    <ion-avatar  >
          <img [src]="imgV " style="height:200px; width:200px" style="border:5px solid #576070">
    </ion-avatar>
    <div class="ion-text-center" style="margin-top:15px;">
        <ion-label style=" font-size:20pt; color:var( --ion-color-dark);">{{ this.perfil.user}}</ion-label>
    </div>
    </ion-toolbar>
  </ion-header>

  <ion-header *ngIf="!usuario">
    <ion-toolbar color="primary">
        <ion-title>
              ZeroD
        </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-item *ngIf="!usuario" (click)="loginRegister()">
          <ion-label style="color:var( --ion-color-dark);">{{ "loginregister" | translate }}</ion-label>
      </ion-item>
      <div *ngIf="usuario">    
        <ion-item> 
                <ion-label style="margin-top:30px;">
                    <h2 style="color:var( --ion-color-dark);">Alertas</h2>
                </ion-label>
            <ion-range min="50" pin="true" step="10" max="1000" id="valorKM" [(ngModel)]="valueKM" (ionChange)="setValueKM(valueKM)" color="secondary">
                <ion-label style="color:var( --ion-color-dark);" slot="start">50Km</ion-label>
                <ion-label style="color:var( --ion-color-dark);" slot="end">1000Km</ion-label>
            </ion-range> 
        </ion-item>
        <ion-item>
            <ion-label style="color:var( --ion-color-dark);">{{ "activealert" | translate }} </ion-label>    
            <ion-badge color="primary" >{{this.activeAlert}}</ion-badge>       
        </ion-item>

        <ion-item>
                <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
                    <h2 style="color:var( --ion-color-dark);">{{ "nightmode" | translate }}</h2>
                    <p style="color:var( --ion-color-tertiary-tint);">{{ "descripnightmode" | translate }}</p>
                </ion-label>
            <ion-toggle [(ngModel)]="night" checked="{{this.night}}" disabled="{{this.toggle}}" (ionChange)="manualMode(night)"></ion-toggle>
        </ion-item>

        <ion-item>
                <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
                    <h2 style="color:var( --ion-color-dark);">{{ "autonightmode" | translate }}</h2>
                    <p style="color:var( --ion-color-tertiary-tint);">{{ "descripauto" | translate }}</p>
                </ion-label>
            <ion-toggle [(ngModel)]="autoNight" checked="{{this.autoNight}}" (ionChange)="autoMode(autoNight)"></ion-toggle> 
        </ion-item>

        <ion-item (click)="logout()">
            <ion-label style="color:var( --ion-color-dark);">{{ "logout" | translate }}</ion-label>
        </ion-item>
    </div>
    

  </ion-content>