
ion-header{
    --ion-header-background:var(--ion-color-primary);

}

    ion-title{
        text-transform: uppercase;
        
    }
    
    ion-toolbar{
        --ion-toolbar-background:var(--ion-color-primary);
    }

    .desc{
        white-space: normal;
    }

    .fecha{
        text-overflow: clip;
    }

    .ubi{
        white-space: nowrap;
        display: inline-block;
        text-overflow: clip;
        overflow: hidden;
    }


    .long{

        width: 90%;
    }

    

    .cerrar{
        float: right;
        margin-top: -10px;
        margin-right: 3px;
        color: var(--ion-color-light-contrast);
        width: 30px;
        height: 30px;
    }

    .openM{
        color:var(--ion-color-primary-shade);
    }

    .ltlng{

        width: 85%;
    }
    
    ion-fab-button{
        height: 45px;
        --background: none;
        width: 45px;
        margin-bottom: 10px;
    }

    h6{
        color: var(--ion-color-dark);

    }

    ion-content{
        --background: var(--ion-color-light-shade);
    }

    
    
   

 
