
<ion-header>
    <ion-toolbar>
      <ion-title>{{alert}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
      <ion-label>{{descripcion}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>{{horaS}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Lat: {{latitud}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Long: {{longitud}} </ion-label>
    </ion-item>

    <ion-button (click)="openMap()"></ion-button>
 
</ion-content>