
<ion-header >
    <ion-toolbar>
        <ion-icon class="cerrar" name="close-circle-outline" (click)="cancel()" ></ion-icon> 
      <ion-title>{{alert}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h6>{{ "fecha" | translate }}</h6>
    <ion-item>
        <ion-label  class="fecha" style="font-size:1.22rem">{{fechaF}}</ion-label>
      </ion-item>
    <h6>{{ "desc" | translate }}</h6>
    <ion-item>
      <ion-label class="desc">{{descripcion}}</ion-label>
    </ion-item>
    <h6>{{ "ltlng" | translate }}</h6>
    <ion-item class="ltlng">
      <ion-label  style="font-size:1.0rem">Lat: {{latitud}} </ion-label>
    </ion-item>
    <ion-item class="ltlng">
      <ion-label  class="long" style="font-size:1.0rem" > Long: {{longitud}}</ion-label>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
        <ion-fab-button  color="#71A1F0">
          
          <ion-icon class="openM" name="compass" (click)="openMap()"></ion-icon>
        </ion-fab-button>
        
          
        </ion-fab>
        

 
</ion-content>