<ion-header>
  <ion-toolbar>
  <ion-title>Nueva Alerta</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content padding>
  <form [formGroup]="alerta" (ngSubmit)="uploadForm()">
  <ion-item>
    <h3>Alerta</h3>
      <ion-input required type="textarea" placeholder="Descripcion de la alerta"></ion-input>
    </ion-item>
  <ion-item>
    <h3>Tipo de alerta</h3>
    <ion-select placeholder="Selecciona una" formControlName="alertType">
      <ion-select-option value="accidente">Accidente</ion-select-option>
      <ion-select-option value="meteorologia">Meteorología</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button shape="round" color="primary" fill="outline"
  type="submit" [disabled]="!alerta.valid"><ion-icon name="md-send"></ion-icon></ion-button>
  </form>
  </ion-content>