ion-button{
    float: right;

}

ion-item{
    margin-bottom: 10px;
}

ion-input{
    margin-top: 5px;
}

ion-toolbar{
    --ion-toolbar-background:#71A1F0;
}

ion-title{
    text-transform: uppercase;
    color:white;
}


#myInput {
    width: calc(100% - 10px);
    border: 0;
    border-radius: 0;
    background: transparent;
}

.cerrar{
    float: right;
    margin-top: -10px;
    margin-right: 3px;
    color:white;
    width: 30px;
    height: 30px;
}


