<ion-header>

</ion-header>

<ion-content padding >

  <ion-img src="assets/sinavisos.png"></ion-img>



  <form [formGroup]="login" (ngSubmit)="registerForm()">
    <ion-item>
      <ion-label>email</ion-label>
      <ion-input type="text"  formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>pass</ion-label>
      <ion-input type="password"  formControlName="pass"></ion-input>
    </ion-item>
    <button ion-button type="submit" block>Add Todo</button>
  </form>


</ion-content>
