
 
  ion-slides{
    height: 100%;
  }

  ion-list{
    background: none;
  }
  ion-item{
    --background: none;
  }
  
  

  ion-title{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    color: var(--ion-color-light-contrast);
  }
  ion-img{
    max-width: 60%;
    height: 60%;
    display:block;
    margin:auto;
    margin-top:10px;

  }

  ion-label{
    position: absolute;
    bottom: 10%;
    left: 8px;
    right: 8px;
    --background: none;
    margin:0 auto;
  }

  ion-icon{
    color: var(--ion-color-light-contrast);
    height: 30px;
    width: 30px;
    margin-right: 3%;
    float: left;
    
  }

 